@import url("https://use.typekit.net/ogs6mdn.css");

* {
  padding: 0;
  margin: 0;
  font-family: "articulat-cf", sans-serif;
  font-style: normal;
}

.title {
  position: relative;
  margin-top: 2vh;
  text-align: center;
  font-size: clamp(3rem, 6vw, 3rem);
  color: #161925;
}

.subtitle {
  position: relative;
  text-align: center;
  font-size: clamp(1rem, 2vw, 1rem);
  letter-spacing: 0.2em;
  color: #D64045;
}

.Nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  height: 10vh;
  z-index: 99;
  background-color: #FDFFFC;
  box-shadow: 0.2px 0.2px 5px #161925;
}

.logo {
  width: 10em;
  transition: transform 250ms ease;
}

.navItems {
  font-size: clamp(1.5rem, 2vw, 1.5rem);
  font-weight: 600;
}

.navItem {
  color: #161925;
  text-decoration: none;
  padding: 1em;

  transition: opacity 250ms ease, text-decoration 200ms ease;
}

.dropdown-menu {
  position: absolute;
  right: 14.2vw;
  top: 6vh;
  width: 100px;
  text-align: center;

  animation: slideIn 250ms linear;
}

.dropdownItem {
  position: relative;
  float: left;
  color: #161925;
  text-decoration: none;
}

.navItem.active {
  color: #D64045;
}

.navItems:hover > .navItem {
  opacity: 0.3;
}

.navItems:hover > .navItem:hover {
  opacity: 1;
  text-decoration: underline;
}

.logo:hover {
  transform: scale(1.05);
}

.dropdownItem.active {
  text-decoration: underline;
}

.dropdownItem:hover {
  color: #D64045;
}

@keyframes slideIn {
  0% {
    transform: translateY(-5%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.images {
  position: relative;
  z-index: 0;
}

.img {
  position: relative;
  z-index: 0;
  width: 50%;
  transition: transform 250ms ease, filter 750ms ease;
  box-shadow: 1px 1px 5px #161925;
}

.one {
  transform: rotate(45deg);
  animation: appear1 1s linear;
  filter: grayscale(1);
}

.two {
  transform: rotate(-45deg);
  animation: appear2 1s linear;
  filter: grayscale(1);
}

.three {
  transform: rotate(45deg);
  animation: appear1 1s linear;
  filter: grayscale(1);
}

.img:hover {
  transform: scale(1.25);
  z-index: 1;
  filter: grayscale(0);
}

@keyframes appear1 {
  0% {
    opacity: 0;
    transform: translateY(-200%);
    filter: grayscale(1);
  }
  100% {
    opacity: 1;
    transform: translateY(0) rotate(45deg);
    filter: grayscale(1);
  }
} 

@keyframes appear2 {
  0% {
    opacity: 0;
    transform: translateY(-200%);
    filter: grayscale(1);
  }
  100% {
    opacity: 1;
    transform: translateY(0) rotate(-45deg);
    filter: grayscale(1);
  }
} 

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100vw;
  position: relative;
  overflow: hidden;
}

.products {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 2vh;
  height: auto;
  width: 70vw;
}

.rows {
  display: inline-block;
  margin-left: 7vw;
}

.row1 {
  height: 28vh;
  width: 70vw;
  margin-bottom: 1vh;
}

.row2 {
  height: 28vh;
  width: 70vw;
  margin-bottom: 1vh;
}

.row3 {
  height: 28vh;
  width: 70vw;
}

.product {
  position: relative;
  float: left;
  z-index: 0;
  margin-left: 2.5vw;
  height: 28vh;
  width: auto;
  overflow: hidden;

  transition: transform 250ms ease, filter 250ms ease, box-shadow 250ms ease;
  animation: steps 500ms linear;
}

.productimg {
  position: relative;
  z-index: 0;
  max-width:100%;
  max-height:100%;
  margin: auto;
  display: block;
}

.productinfo {
  position: absolute;
  right: 0; 
  bottom: 5vh;
  z-index: 99;
  text-align: center;
  background-color: rgba(22, 25, 37, 0.3);
  width: 7vw;
}

.productname {
  font-size: clamp(1.2rem, 2vw, 1.2rem);
  color: #D64045;
  font-weight: 500;
}

.productprice {
  font-size: clamp(1rem, 2vw, 1rem);
  color: #FDFFFC;
  font-weight: 200;
  margin-bottom: 1vh;
}

.rows:hover > .product {
  filter: grayscale(1);
}

.rows:hover > .product:hover {
  filter: grayscale(0);
  transform: scale(1.5);
  z-index: 99;
  box-shadow: 1px 1px 5px #161925;
}

@keyframes steps {
  0%  {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.acctinfo {
  position: relative;
  height: auto;
  width: 70vw;

  margin: 0 auto;
}

.userinfo {
  height: 20vh;
  width: 70vw;
  border: 2px solid #161925;
  border-radius: 25px;
}

.useraddress {
  position: relative;
  float: left;
  margin-top: 2vh;
  margin-right: 2.5vh;
  height: 40vh;
  width: 34vw;
  border: 2px solid #161925;
  border-radius: 25px;
}

.currentorders {
  position: relative;
  float: left;
  margin-top: 2vh;
  height: 40vh;
  width: 34vw;
  border: 2px solid #161925;
  border-radius: 25px;
}

.paymentinfo {
  position: relative;
  float: left;
  margin-top: 2vh;
  margin-bottom: 2vh;
  height: 20vh;
  width: 70vw;
  border: 2px solid #161925;
  border-radius: 25px;
}

.usertitle {
  padding: 0.6em;
  color: #161925;
}

.userinfo:hover {
  box-shadow: 1px 2px 5px #161925;
}

.useraddress:hover {
  box-shadow: 1px 2px 5px #161925;
}

.currentorders:hover {
  box-shadow: 1px 2px 5px #161925;
}

.paymentinfo:hover {
  box-shadow: 1px 2px 5px #161925;
}

.content {
  display: flex;
  justify-self: center;
  margin: 0 auto;
  margin-top: 2vh;
  height: 25vh;
  width: 70vw;
  text-overflow: "";
  overflow-x: scroll;
  font-size: clamp(1rem, 2vw, 1rem);
  font-weight: 300;
  border-bottom: 2px dashed #161925;
  text-align: center;
}

.contactcontainer {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 2vh;
  height: 50vh;
  width: 70vw;
}

.contactform {
  position: fixed;
  top: 25vh;
  height: 60vh;
  width: 25vw;
  border: 2px dashed #161925;
  border-radius: 25px;
}

.label {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 2vh;
  font-size: clamp(1rem, 2vw, 1rem);
  font-weight: 500;
}

.input {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 1vh;
  width: 20vw;
  border-radius: 25px;
  outline: none;
  border: 2px solid #161925;
  padding: 1em;
  text-align: left;
  font-size: clamp(1rem, 2vw, 1rem);
  transition: border-color 250ms ease;
}

.message {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 1vh;
  height: 15vh;
  width: 20vw;
  border-radius: 25px;
  outline: none;
  border: 2px solid #161925;
  padding: 1em;
  text-align: left;
  font-size: clamp(1rem, 2vw, 1rem);
  resize: none;
  overflow-y: scroll;
  transition: border-color 250ms ease;
}

.formbtn {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 1.5vh;
  height: 2em;
  width: 5em;
  padding: 0;
  font-size: clamp(1rem, 2vw, 1rem);
  border-radius: 25px;
  outline: none;
  border: 2px solid #161925;
  background: none;
  transition: border 250ms ease, transform 300ms ease, color 250ms ease;
}

.input:hover {
  border-color: #D64045;
}

.message:hover {
  border-color: #D64045;
}

.formbtn:hover {
  border: 2px solid #D64045;
  color: #D64045;
  transform: scale(1.05);
}